db-uri = "postgres://xkoku_conn_user:xkoku_conn_password@pgm-rj9z1j6g3j2k070t.pg.rds.aliyuncs.com/xkoku"
db-schemas = "app20250905011157fofcdvmgil_v1,public"
db-anon-role = "app20250905011157fofcdvmgil_v1_user"
server-port = 33683
jwt-secret = "sk_968805593ac7497db33b5284291b6a62"
server-host = "127.0.0.1"
