-- Script para desabilitar RLS temporariamente na tabela sale_items
ALTER TABLE sale_items DISABLE ROW LEVEL SECURITY;

-- Verificar se foi desabilitado
SELECT schemaname, tablename, rowsecurity 
FROM pg_tables 
WHERE tablename = 'sale_items';
